<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bei.tally.dao.CostMapper" >
  <resultMap id="BaseResultMap" type="com.bei.tally.entity.Cost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cost_id" property="costId" jdbcType="VARCHAR" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="cost_money" property="costMoney" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="test1" property="test1" jdbcType="VARCHAR" />
    <result column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cost_id, cost_price, cost_money, remark, test1, s_id, del_flag, create_by, create_date, 
    update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.bei.tally.entity.Cost">
		select
		<include refid="Base_Column_List" />
		from t_cost
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="costId != null and costId != ''">
				AND cost_id = #{costId}
			</if>
			<if test="costPrice != null and costPrice != ''">
				AND cost_price = #{costPrice}
			</if>
			<if test="costMoney != null and costMoney != ''">
				AND cost_money = #{costMoney}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="sId != null and sId != ''">
				AND s_id = #{sId}
			</if>
			
			<if
				test="beginCreateDate != null and endCreateDate != null and beginCreateDate != '' and endCreateDate != ''">
				AND create_date BETWEEN #{beginCreateDate} AND
				#{endCreateDate}
			</if>


		</where>
		ORDER BY create_date DESC
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bei.tally.entity.Cost" >
    insert into t_cost (id, cost_id, cost_price, 
      cost_money, remark, test1, 
      s_id, del_flag, create_by, 
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{costId,jdbcType=VARCHAR}, #{costPrice,jdbcType=DECIMAL}, 
      #{costMoney,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{test1,jdbcType=VARCHAR}, 
      #{sId,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bei.tally.entity.Cost" >
    insert into t_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="costId != null" >
        cost_id,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="costMoney != null" >
        cost_money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="test1 != null" >
        test1,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="costId != null" >
        #{costId,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="costMoney != null" >
        #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="test1 != null" >
        #{test1,jdbcType=VARCHAR},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bei.tally.entity.Cost" >
    update t_cost
    <set >
      <if test="costId != null" >
        cost_id = #{costId,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="costMoney != null" >
        cost_money = #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="test1 != null" >
        test1 = #{test1,jdbcType=VARCHAR},
      </if>
      <if test="sId != null" >
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bei.tally.entity.Cost" >
    update t_cost
    set cost_id = #{costId,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      cost_money = #{costMoney,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      test1 = #{test1,jdbcType=VARCHAR},
      s_id = #{sId,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>