<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bei.tally.dao.ProduceMapper">
	<resultMap id="BaseResultMap" type="com.bei.tally.entity.Produce">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="product_type" property="productType" jdbcType="INTEGER" />
		<result column="product_cost" property="productCost" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="CHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, product_name, product_type, product_cost, del_flag,
		remark,
		create_by, create_date,
		update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_produce
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="findList" resultMap="BaseResultMap" parameterType="com.bei.tally.entity.Produce">
		select
		<include refid="Base_Column_List" />
		from t_produce
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="productName != null and productName != ''">
				AND product_name = #{productName}
			</if>
			<if test="productType != null and productType != ''">
				AND product_type = #{productType}
			</if>
			<if test="productCost != null and productCost != ''">
				AND product_cost = #{productCost}
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND del_flag = #{delFlag}
			</if>
			<if test="createBy != null and createBy != ''">
				AND create_by = #{createBy}
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND update_by = #{updateBy}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if
				test="beginCreateDate != null and endCreateDate != null and beginCreateDate != '' and endCreateDate != ''">
				AND create_date BETWEEN #{beginCreateDate} AND
				#{endCreateDate}
			</if>
			<!-- <if test="remark != null and remark != ''">
				AND a.sto_adress LIKE
				concat('%',#{remark},'%')
			</if> -->

		</where>
		ORDER BY create_date DESC
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_produce
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bei.tally.entity.Produce">
		insert into t_produce (id,
		product_name, product_type,
		product_cost, del_flag, remark,
		create_by,
		create_date, update_by,
		update_date)
		values (#{id,jdbcType=INTEGER},
		#{productName,jdbcType=VARCHAR},
		#{productType,jdbcType=INTEGER},
		#{productCost,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
		#{remark,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.bei.tally.entity.Produce">
		insert into t_produce
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="productType != null">
				product_type,
			</if>
			<if test="productCost != null">
				product_cost,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				#{productType,jdbcType=INTEGER},
			</if>
			<if test="productCost != null">
				#{productCost,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bei.tally.entity.Produce">
		update t_produce
		<set>
			<if test="productName != null">
				product_name = #{productName,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				product_type = #{productType,jdbcType=INTEGER},
			</if>
			<if test="productCost != null">
				product_cost = #{productCost,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bei.tally.entity.Produce">
		update t_produce
		set product_name = #{productName,jdbcType=VARCHAR},
		product_type =
		#{productType,jdbcType=INTEGER},
		product_cost =
		#{productCost,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=CHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_by =
		#{createBy,jdbcType=VARCHAR},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		update_by =
		#{updateBy,jdbcType=VARCHAR},
		update_date =
		#{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>