<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bei.tally.dao.StoreMapper">
	<resultMap id="BaseResultMap" type="com.bei.tally.entity.Store">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="store_phone" property="storePhone" jdbcType="VARCHAR" />
		<result column="store_name" property="storeName" jdbcType="VARCHAR" />
		<result column="store_statu" property="storeStatu" jdbcType="INTEGER" />
		<result column="store_number" property="storeNumber" jdbcType="INTEGER" />
		<result column="store_qulity" property="storeQulity" jdbcType="INTEGER" />
		<result column="store_price" property="storePrice" jdbcType="DECIMAL" />
		<result column="store_count" property="storeCount" jdbcType="DECIMAL" />
		<result column="store_frorto" property="storeFrorto" jdbcType="VARCHAR" />
		<result column="store_reason" property="storeReason" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, product_id, store_phone, store_name, store_statu, store_number,
		store_qulity,
		store_price, store_count, store_frorto, store_reason, del_flag, remark, create_by,
		create_date, update_by, update_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_store
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="findList" resultMap="BaseResultMap" parameterType="com.bei.tally.entity.Store">
		select
		<include refid="Base_Column_List" />
		from t_store
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="productId != null and productId != ''">
				AND product_id = #{productId}
			</if>
			<if test="storePhone != null and storePhone != ''">
				AND store_phone = #{storePhone}
			</if>
			<if test="storeName != null and storeName != ''">
				AND store_name = #{storeName}
			</if>
			<if test="storeStatu != null and storeStatu != ''">
				AND store_statu = #{storeStatu}
			</if>
			<if test="storeNumber != null and storeNumber != ''">
				AND store_number = #{storeNumber}
			</if>
			<if test="storeQulity != null and storeQulity != ''">
				AND store_qulity = #{storeQulity}
			</if>
			<if test="storePrice != null and storePrice != ''">
				AND store_price = #{storePrice}
			</if>
			<if test="storeCount != null and storeCount != ''">
				AND store_count = #{storeCount}
			</if>
			<if test="storeFrorto != null and storeFrorto != ''">
				AND store_frorto = #{storeFrorto}
			</if>
			<if test="storeReason != null and storeReason != ''">
				AND store_reason = #{storeReason}
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND del_flag = #{delFlag}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="createBy != null and createBy != ''">
				AND create_by = #{createBy}
			</if>
			<if test="updateBy != null and updateBy != ''">
				AND update_by = #{updateBy}
			</if>
			<if
				test="beginCreateDate != null and endCreateDate != null and beginCreateDate != '' and endCreateDate != ''">
				AND create_date BETWEEN #{beginCreateDate} AND
				#{endCreateDate}
			</if>


		</where>
		ORDER BY create_date DESC
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_store
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bei.tally.entity.Store">
		insert into t_store (id, product_id, store_phone,
		store_name, store_statu, store_number,
		store_qulity, store_price, store_count,
		store_frorto, store_reason, del_flag,
		remark, create_by, create_date,
		update_by, update_date)
		values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR},
		#{storePhone,jdbcType=VARCHAR},
		#{storeName,jdbcType=VARCHAR}, #{storeStatu,jdbcType=INTEGER}, #{storeNumber,jdbcType=INTEGER},
		#{storeQulity,jdbcType=INTEGER}, #{storePrice,jdbcType=DECIMAL},
		#{storeCount,jdbcType=DECIMAL},
		#{storeFrorto,jdbcType=VARCHAR}, #{storeReason,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.bei.tally.entity.Store">
		insert into t_store
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="storePhone != null">
				store_phone,
			</if>
			<if test="storeName != null">
				store_name,
			</if>
			<if test="storeStatu != null">
				store_statu,
			</if>
			<if test="storeNumber != null">
				store_number,
			</if>
			<if test="storeQulity != null">
				store_qulity,
			</if>
			<if test="storePrice != null">
				store_price,
			</if>
			<if test="storeCount != null">
				store_count,
			</if>
			<if test="storeFrorto != null">
				store_frorto,
			</if>
			<if test="storeReason != null">
				store_reason,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="storePhone != null">
				#{storePhone,jdbcType=VARCHAR},
			</if>
			<if test="storeName != null">
				#{storeName,jdbcType=VARCHAR},
			</if>
			<if test="storeStatu != null">
				#{storeStatu,jdbcType=INTEGER},
			</if>
			<if test="storeNumber != null">
				#{storeNumber,jdbcType=INTEGER},
			</if>
			<if test="storeQulity != null">
				#{storeQulity,jdbcType=INTEGER},
			</if>
			<if test="storePrice != null">
				#{storePrice,jdbcType=DECIMAL},
			</if>
			<if test="storeCount != null">
				#{storeCount,jdbcType=DECIMAL},
			</if>
			<if test="storeFrorto != null">
				#{storeFrorto,jdbcType=VARCHAR},
			</if>
			<if test="storeReason != null">
				#{storeReason,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bei.tally.entity.Store">
		update t_store
		<set>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="storePhone != null">
				store_phone = #{storePhone,jdbcType=VARCHAR},
			</if>
			<if test="storeName != null">
				store_name = #{storeName,jdbcType=VARCHAR},
			</if>
			<if test="storeStatu != null">
				store_statu = #{storeStatu,jdbcType=INTEGER},
			</if>
			<if test="storeNumber != null">
				store_number = #{storeNumber,jdbcType=INTEGER},
			</if>
			<if test="storeQulity != null">
				store_qulity = #{storeQulity,jdbcType=INTEGER},
			</if>
			<if test="storePrice != null">
				store_price = #{storePrice,jdbcType=DECIMAL},
			</if>
			<if test="storeCount != null">
				store_count = #{storeCount,jdbcType=DECIMAL},
			</if>
			<if test="storeFrorto != null">
				store_frorto = #{storeFrorto,jdbcType=VARCHAR},
			</if>
			<if test="storeReason != null">
				store_reason = #{storeReason,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bei.tally.entity.Store">
		update t_store
		set product_id = #{productId,jdbcType=VARCHAR},
		store_phone = #{storePhone,jdbcType=VARCHAR},
		store_name = #{storeName,jdbcType=VARCHAR},
		store_statu = #{storeStatu,jdbcType=INTEGER},
		store_number = #{storeNumber,jdbcType=INTEGER},
		store_qulity = #{storeQulity,jdbcType=INTEGER},
		store_price = #{storePrice,jdbcType=DECIMAL},
		store_count = #{storeCount,jdbcType=DECIMAL},
		store_frorto = #{storeFrorto,jdbcType=VARCHAR},
		store_reason = #{storeReason,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>